@import url("https://fonts.googleapis.com/css2?family=B612&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #7f8c8d,
    #69797e
  ) !important; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #7f8c8d,
    #69797e
  ) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "PT Sans", sans-serif;
  min-height: 1000px;
}
.footer {
  background-color: #2c3e50 !important;
  text-align: center !important;
  /* height:30px!important; */
  color: white !important;
}
